<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>KShark Project</vendor>
  <vendor_url>https://github.com/wireshark/wireshark</vendor_url>
  <icon_name>kshark</icon_name>

  <action id="com.kshark.ebpf.capture">
    <description>Attach Linux Kernel eBPF Security Probes for Live Telemetry Capture</description>
    <message>Authentication is required to attach eBPF kernel tracing probes and access raw ring buffers</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/proffaro/Documents/major-p1-v1/agent/ebpf-ml-agent</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
